#travel-result {
  background: rgb(255, 154, 154);
  border: 5px solid black;
  font-size: 24px;
  
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(255, 154, 154);
  border: 5px solid black;
  font-size: 24px;
  
  margin-top: 10px;
  margin-bottom: 20px;
}

#hobby-result {
  background: rgb(255, 154, 154);
  border: 5px solid black;
  font-size: 24px;
 
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: rgb(255, 219, 219);
}

body { font-family: fantasy;
    
}

h1 {font-family: Monaco,serif;
  color: rgb(255, 154, 154);
}

